@charset  "UTF-8";

body{
    background-image: url('imagens/fundo-madeira-800px.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.logo-home{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 85px;
    left: 95%;
    transform: translate(-60%, -70%);
    transition: transform 0.5s ease;
}
.logo-home:hover{
    transform: translate(-70%, -80%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.logo-yt{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 95%;
    transform: translate(-57%, 60%);
    transition: transform 0.5s ease;
}
.logo-yt:hover{
    transform: translate(-70%, 50%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.logo-github{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 123px;
    left: 95%;
    transform: translate(-57%, 100%);
    transition: transform 0.5s ease;
}
.logo-github:hover {
    transform: translate(-70%, 90%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.logo-instagram{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 190px;
    left: 95%;
    transform: translate(-57%, 100%);
    transition: transform 0.5s ease;
}
.logo-instagram:hover{
    transform: translate(-70%, 90%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.logo-twitter{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 255px;
    left: 95%;
    transform: translate(-57%, 100%);
    transition: transform 0.5s ease;
}
.logo-twitter:hover{
    transform: translate(-70%, 90%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.logo-facebook{
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 320px;
    left: 95%;
    transform: translate(-57%, 100%);
    transition: transform 0.5s ease;
}
.logo-facebook:hover{
    transform: translate(-70%, 90%); 
    border: 2px solid white;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.505);
    cursor: pointer;
}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1%);
}